/*the url for the Poppins font from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 56px;

}

/*start of CSS code for navigation-related elements */
.download-cv {
    background-color: royalblue;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}

.download-cv:hover {
    background-color: rgb(90, 122, 218);
}

.navbar-toggler {
    border: none;
    font-size: 1.25em;
}

.navbar-brand {
    font-weight: 500;
    padding: 16px;
    font-size: 1.5em;
}

.navbar {
    padding: 24px;
}

.nav-link {
    color: #a1a2af;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: black;
}

/*this particular code makes it to where the underline does not appear when the size of the browser is shrunk to the point the hamburger menu appears */
@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: royalblue;
        visibility: hidden;
        transition: 0.5s, ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/*end of CSS styling code for navigation elements */

/*start of CSS styling code for hero-section */

.hero-section {
    padding: 100px;
    width: 100%;
}

.text-hero-bold .text-hero-name .text-hero-intro {
    margin: 50px 0;
}

.text-hero-bold {
    line-height: 120px;
    font-size: 4em;
    font-weight: 700;
}

.text-hero-name {
    line-height: 91px;
    font-size: 50px;
    font-weight: 700;
}

.text-hero-intro {
    line-height: 51px;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width:991px){
    .hero-section{
        text-align:center;
    }

    .text-hero-bold .text-hero-name .text-hero-intro {
        text-align:center;
        justify-content: center;
    }
}